<ion-content>

  <img src="assets/images/logo-with-label.png">

  <form [formGroup]="form" (submit)="login(form)">
    <ion-list color="primary">

      <ion-item color="primary">
        <ion-label>Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-item color="primary">
        <ion-label>Senha</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>

    </ion-list>

    <div padding>
      <button color="white" ion-button full type="submit" [disabled]="loadingNormal || loadingFacebook">
        Entrar
        <ion-spinner *ngIf="loadingNormal"></ion-spinner>
      </button>
    </div>

  </form>

  <div padding>
    <button color="facebook" ion-button (click)="fb()" full [disabled]="loadingFacebook || loadingNormal" icon-left>
      <ion-icon *ngIf="!loadingFacebook" name="logo-facebook"></ion-icon>
      <ion-spinner *ngIf="loadingFacebook"></ion-spinner>
      Logar com Facebook
    </button>
  </div>

  <div padding>
    <ion-row>
      <ion-col>
        <button color="white" [disabled]="loadingFacebook || loadingNormal" ion-button full clear (click)="register()" [disabled]="loadingNormal">
          Criar uma conta
        </button>
      </ion-col>

      <ion-col>
        <button color="white" [disabled]="loadingFacebook || loadingNormal" ion-button full clear (click)="pular()" [disabled]="loadingNormal">
          Pular Login
        </button>
      </ion-col>

    </ion-row>
  </div>

</ion-content>
