page-home {
    .tab-button[aria-selected=true] .tab-button-text{
        transform: none !important;
    }

    ion-fab-list {
        right: 0px;
    }

    ion-navbar {
        img {
            max-height: 40px;
        }
        
    }

    .logo {
        background-color: color($colors, primary)
    }

    .tab-button[aria-selected = true] {
        border-bottom: solid 2px color($colors, white);
    }
}
