<ion-content>

  <div ion-fixed padding *ngIf="index < slides.length - 1">
    <button ion-button color="light" outline small (click)="skip()">Pular</button>
  </div>

  <ion-slides pager="true" >

    <ion-slide padding color="primary" *ngFor="let slide of slides" (ionChange)="change()">

      <blank-state showIcon="true" [iconName]="slide.icon" >
        <h2>{{slide.title}}</h2>
        <p>{{slide.content}}</p>
      </blank-state>

      <!--<div class="slide-header">
        <img [src]="slide.image" />
      </div>
      <div class="slide-content">
        <h2>{{slide.title}}</h2>
        <p>
          {{slide.text}}
        </p>

        <button color="favorite" ion-button (click)="next()">
          {{slide.button}}
        </button>

      </div>-->
    </ion-slide>

  </ion-slides>

</ion-content>
