<ion-content>

    <ion-refresher (ionRefresh)="load($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown" 
        pullingText="Puxe para atualizar"
        refreshingSpinner="circles"
        refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher> 

    <blank-state *ngIf="loading" showSpinner="true">
        <p>Carregando...</p>
    </blank-state>
 
    <blank-state *ngIf="losts.length === 0" showIcon="true" iconName="happy">
        <p>Não há nenhum pet desaparecido por perto.</p>
    </blank-state>

    <ion-list>
        <ion-card *ngFor="let lost of losts" (click)="openLostPet(lost)">
        <div class="img-wrapper">
            <img *ngIf="!!lost.photo" [src]="lost.photo + '-/resize/300x/'"/>
                <img *ngIf="!lost.photo || lost.photo.length === 0" src="assets/images/splash.png"/>
        </div>
        <ion-card-content>
            <h2>
            {{lost.name}}
            </h2>
            <p>{{lost.description}}</p>
            <p>{{lost.trueDistance}} km de distância</p>
        </ion-card-content>
        </ion-card>
        
    </ion-list>
    
</ion-content>
