page-new-pet {
    p {
        color: color($colors, gray);
        text-align: justify;
    }

    .location p{
        white-space: normal;
    }

    .img {
            width: 100%;
        display: flex;
        justify-content: center;

        img {
            max-height: 200px;
            margin: 20px 0;
        }

    }

    .pick-image { 
        display: block;

        ion-icon {
            margin-top: 20px;
            color: color($colors, gray);
            font-size: 11rem;
            display: flex;
            justify-content: center;
        }

        p {
            width: 100%;
            text-align: center;
        }

    }
}
